html {
    position: relative;
    min-height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(33, 38, 59);
}

button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

button:hover {
    border: 1px solid red;
    background-color: rgb(221, 221, 221);
}

button:active {
    transform: translate(2px, 2px);
}

.rgb:focus {
    background-color: rgb(117, 117, 117);
    transition: all 0.3s ease-in-out;
}

.black:focus {
    background-color: rgb(117, 117, 117);
    transition: all 0.3s ease-in-out;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    text-shadow: 7px 7px black;
}

.newGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.size {
    text-align: center;
    color: white;
    
}

#gridContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#container {
    display: grid;
    background-color: rgb(49, 49, 49);
    box-shadow: 7px 7px black;
    height: 540px;
    width: 540px;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

#icon {
    display: flex;
    height: 60px;
    width: 60px;
}

#icon:hover {
    transform: scale(1.1);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    color: white;
    font-size: 18px;
    width: 100%;
    height: 50px;
}