html {
    position: relative;
    min-height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(33, 38, 59);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    text-shadow: 7px 7px black;
}

.newGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

#size {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: bold;
}

#gridContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#container {
    display: grid;
    background-color: rgb(49, 49, 49);
    box-shadow: 7px 7px black;
    height: 550px;
    width: 550px;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

#container {
    cursor: url("img/paintbrush.png"), auto;
}

button,
#colorPicker {
    background-color: black;
    color: white;
    font-weight: 900;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(97, 106, 226);
}

button:hover,
#colorPicker:hover {
    border: 1px solid red;
    background-color: rgb(114, 168, 230);
}

button:active,
#colorPicker:active {
    transform: translate(2px, 2px);
}

.rgb:focus,
.black:focus,
#colorPicker:focus {
    background-color: rgb(114, 168, 230);
    transition: all 0.1s ease-in-out
}

#slider {
    -webkit-appearance: none;
    width: 200px;
    height: 15px;
    background-color: black;
    border-radius: 7px;
    border: 1px solid rgb(97, 106, 226);
}

/* Chrome */
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

/* Firefox */
#slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

#icon {
    display: flex;
    height: 60px;
    width: 60px;
}

#icon:hover {
    transform: scale(1.1);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    color: white;
    font-size: 18px;
    width: 100%;
    height: 60px;
}