body {
    display: flex;
    flex-direction: column;
}

.newGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#gridContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: grid;
    height: 640px;
    width: 640px;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.box {
    border: 1px solid black;
}